<table class="table">
    <tr>
        <td>
            <img src="~/Content/Images/Musa Mbatha.jpg" alt="Sbongumusa Mbatha" />
        </td>
        <td>
            <div class="row">
                <div class="col">Name</div>
                <div class="col">Sbongumusa</div>
            </div>
            <div class="row">
                <div class="col">Surname</div>
                <div class="col">Mbatha</div>
            </div>
            <div class="row">
                <div class="col">Student Number</div>
                <div class="col">u22710362</div>
            </div>
        </td>
    </tr>
</table>
<h3>Steps followed</h3>
<ol class="list-group">
    <li class="list-group-item">
        JGJGYJGJGHGBYGYGYHY
    </li>
</ol>